---
layout: default
---

<h1>{{ title }}</h1>

<script type = "text/javascript">
    if (created.isValid()) {
        document.write('<p>Created: <time datetime="{{ created | htmlDateString }}">{{ created | readableDate }}</time></p>')
    } else {
        document.write("")
    }
</script>

<script type = "text/javascript">
    if (updated.isValid()) {
        document.write('<p>Updated: <time datetime="{{ updated | htmlDateString }}">{{ updated | readableDate }}</time></p>')
    } else {
        document.write("")
    }
</script>

<article>
    {{content}}
</article>
{% include 'backlinks.html' %}
